.navbar {
  margin-bottom: 50px;
}

.nav-link {
  font-size: 20px;
}

nav .fab {
  margin-left: 15px;
}

footer .fab {
  margin-right: 20px;
  color: #eaeaea;
}

.fab:hover {
  color: #ffcd04;
}

.author-name {
  margin-right: 10px;
}

.homepage-top-section {
  margin-bottom: 80px;
}

.homepage-cards {
  margin-top: 100px;
}

.sub-title-image {
  font-size: 11px;
  font-style: italic;
}
