
body {
  margin: 0;
  padding: 0;
  background: #fff;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #000;
}

/* navigation bar styling  */

.navbar {
  position: relative;
  padding: 0;
  margin: 30px 0 0 30px;
  left: 0px;
}


.fab {
  color: black;
  margin-right: 30px;
}

.fab:hover {
  color: #FFCD04;
}

/* index.html styles */

.homepage-title {
  margin-top: 90px;
  margin-bottom: 90px;
  text-transform: uppercase;
  font-size: 50px;
}
#program-columns {
  /* margin-left: 30px; */
  width: 80%;
  margin: auto;
}

#row {
  margin-left: 15px !important;
}

#program-subtitle {
  margin-top: 70px;
  margin-bottom: 70px;
  text-transform: uppercase;
}

/* #row {
  margin-left: 10px !important;
  /* margin-right: 10px !important; */
} */

.content {
  max-width: 1100px;
  margin: auto;
  padding: 10px;
}

#program-card {
  margin: 10px;
  border: 1px solid #adadad;
}

#program-card-title {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

#cohort-links {
  text-align: center;
  text-transform: uppercase;
}

/* cohort page styles */
.layoutresults {
  margin-left: 35px !important;
}

.blog-header {
  margin-top: 50px;
}

.small-up-1>.column:nth-of-type(1n+1), .small-up-1>.columns:nth-of-type(1n+1) {
  clear: both;
}

.small-up-1>.column:nth-of-type(1n), .small-up-1>.columns:nth-of-type(1n) {
  clear: none;
}

.SortCtn .mix {
  display: none;
}


.bd4 {
  margin-bottom: 75px;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
  font-weight: 300;
}

.card-img-top {
  width: 100%;
  transition: .3s ease;
}

img.card-img-top {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  height: 270px;
}

figure {
  margin: 1em 40px;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
}

.article-tiles-information {
  background-color: #fff;
  padding: 16px 0 0 12px;
  height: 125px;
}

.tagresults {
  margin: 10px 10px 10px 30px;
}

.header {
  height: auto;
  width: 100%;
  position: relative;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 280px;
  margin-bottom: 20px;
  /* margin-right: 20px; */
  margin-left: 20px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-title {
  max-width: 220px;
  font-size: 1.025rem;
  margin-top: -5px;
}

.card-author {
  font-size: 0.8125rem;
}

.card-text {
  font-size: 0.8125rem;
}

a {
  color: #000 !important;
}
a:hover {
  color: #FFCD04 !important;
  text-decoration: none !important;
}

/* individual blog post styles */

#main-section-blog-post {
  max-width: 960px;
  margin: auto;
}

.feature-title {
  margin-top: 50px;
  margin-bottom: 50px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 30px;
}

#date-author {
  font-size: 15px;
  font-weight: 300;
  margin-bottom: 40px;
}

.image-for-post {
  margin-bottom: 10px;
}

.feature {
  max-width: 600px;
  margin: auto;
}

.article-para {
  text-align: justify;
  margin: auto;
}

#author-section {
  max-width: 600px;
  margin: auto;
}

.about-the-author {
  display: inline-block;
  width: 30%;
}

.author-about-me {
  display: inline-block;
  vertical-align: middle;
  width: 50%;
  padding: 20px;
  margin-left: 100px;
}

@media screen and (min-width: 75em){
.row .row {
    margin-right: -.9375rem;
    margin-left: -.9375rem;
  }
}

@media print, screen and (min-width: 64em){
  .large-12 {
    width: 100%;
  }
  .large-12 {
    width: 100%;
  }
  .large-up-4>.column:nth-of-type(4n+1), .large-up-4>.columns:nth-of-type(4n+1) {
    clear: both;
  }
  .large-up-4>.column {
    float: left;
    width: 25%;
  }
}

@media print, screen and (min-width: 40em){
  .column {
    padding-right: .9375rem;
    padding-left: .9375rem;
  }
  .large-12 {
    padding-right: .9375rem;
    padding-left: .9375rem;
  }
  .blog-header {
    font-size: 1.375rem;
  }
  .medium-up-3>.column:nth-of-type(3n+1), .medium-up-3>.columns:nth-of-type(3n+1) {
    clear: both;
  }
  .medium-up-3>.column {
    float: left;
    width: 33.33333%;
  }
  figure {
    margin-bottom: 30px;
  }
}


